# Compiled class files
*.class

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# npm
node_modules/

# Vite
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Debug
npm-debug.log*

diagrams/